a{
    text-decoration: none
}

.card-title{
    font-family: 'Raleway', sans-serif;
}
.maprt
{
    width: 100%  !important;
    
<<<<<<< HEAD
}
=======
}
>>>>>>> 4d20d090e6565cc809c45718cbbe66601c353dde
